body{
    max-width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b5d1c3;
    font-family: "apercu-pro", "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
}




@font-face {
    font-family: 'apercu-pro';
    src: url('apercu_medium_pro.otf');
}
